
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Development/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/Development/Scripts/DevelopmentHome-Js.js"></script>
<script src="~/Areas/Development/Scripts/DoughnutChart.js"></script>

<h2>Welcome to Development</h2>

<div>

    <div class="row">
        <div class="col-md-6">
            <div id="chart">

            </div>
        </div>
        <div class="col-md-6">
            Hello there, this is a chart. 
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div id="doughnutChart">

            </div>
        </div>
        <div class="col-md-6">
            And this is another one 
        </div>
    </div>


    
</div>